/*
  BAXTER CONFIDENTIAL - Highly Restricted: Do not distribute without prior approval
  
  Project: New Horizons
  
  Copyright © 2016, 2017 Baxter Healthcare Corporation. All rights reserved.
*/
table[class="notificationTable"] {
	margin: 12px 0px 0px 0px;
}

table[class="notificationTable"] tr{
	width: 100%;
	border:0px solid;
}

table[class="notificationTable"] td{
	padding: 0px;
}

table[class="notificationTable"] td a{
	border-bottom: 0px !important;
}

table[class="notificationTable"] td.notificationMsgTd {
	width: 85%;
	border:0px solid;
}

table[class="notificationTable"] td.notificationBtnTd {
	width: 15%;
	border:0px solid;
	text-align: right;
	vertical-align: middle;
	padding-right: 5px;
}

#notificationBanner {
	background-color: #E0E9F2;
	width: 960px;
	border: solid 1px #142D66;
	word-wrap: break-word;
	margin-bottom: 10px;
}

.notificationMsg{
	width: 786px;
}

.notificationBtn{
	width: 139px;
	margin-bottom: 1em;
}
