/*
  BAXTER CONFIDENTIAL - Highly Restricted: Do not distribute without prior approval
  
  Project: New Horizons
  
  Copyright © 2012, 2013, 2014, 2016 Baxter Healthcare Corporation. All rights reserved.
*/

/**to resolve issues(table, tr and td tags are displayed) in IE8*/

.portlet-layout td {
	padding: 0;
	border: 0;
}

.main_grid {
	border: 1px solid #bbb8b8;
}

.h1h2Margin {
	margin-top: 25px;
	margin-bottom: 0px;
	margin-left: 0px; margin-right0px;
	padding: 0;
}

.errorColor {
	color: #ff3300;
}

/*override the theme css*/
#form_layout form input {
	height: 20px;
	width: 25px;
}

#form_layout form input[type="radio"] {
	height: 13px;
	width: 13px;
}

button[id="generateSubmit"] {
	min-width: 70px;
}

.reportCriteriaTitle {
	font-size: 17px;
	font-weight: normal;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

.form-height {
	height: 300px;
}

#form_layout form input.long, #form_layout form select.long {
	width: auto;
}

fieldset,img {
	border: 0;
	padding-left: 5px;
}

#form_layout div.hide {
	display: none;
}

form label {
	font-weight: bold;
}

.fakeLink {
	cursor: pointer;
	text-decoration: underline;
	color: #0033ff;
	padding-left: 0px;
}

.rightSpace {
	padding-right: 5px;
}

div .buttons {
	padding-top: 5px;
	padding-right: 35px;
	float: right;
}

.searchCriteriaTable td {
	text-align: left;
	border: 0px;
	padding-left: 0px;
	width: 190px;
}

#patientSearchCriteria {
	font-weight: bold;
	color: #000000;
}

#SearchResults {
	padding-left: 0px;
	font-weight: bold;
	color: #000000;
	padding-top: 5px;
}

.ui-dialog {
	overflow: hidden;
	padding: 0px;
	position: absolute;
}

#selectPatientPopup {
	background: url("") repeat-x scroll 50% top #FFFFFF;
	color: #000000;
	padding: 1em 2em;
}

hr,.separator {
	border-color: #BFBFBF transparent #FFFFFF;
	border-style: solid;
	border-width: 2px 0;
}

.ui-dialog .ui-dialog-titlebar {
	background: none repeat scroll 0 0 #CCCCCC;
	border: 0 none;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	color: #333333;
	font-size: 12px;
	position: relative;
}

#noPatientsErrorMessage {
	color: #FF3300;
	font-size: 12px;
	padding-left: 25px;
}

.errorIcon {
	background: url("error_message_2012-02-22_draft.png") no-repeat scroll
		left top transparent;
}

.hidden {
	display: none;
}

#selectPatientPopup {
	padding: 20px 20px 20px 20px;
	font-weight: normal;
	/* Add display: none; to avoid "briefly appears" */
	display: none;
}

.patientSearchDiv {
	float: left;
	width: 200px;
}

.patientSearchInput {
	width: 150px;
	margin-bottom: 5px;
}

#patientSearch input[type="text"] {
	width: 150px;
	font-family: Arial;
	font-size: 12px;
	height: 22px;
}

#patientSearch input[type="button"] {
	color: #000000;
	height: 20px;
	vertical-align: middle;
	min-width: 70px;
	font-family: Arial;
	font-size: 12px;
	margin-top: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
}
#patientSearch{
	color: #000000;
	vertical-align: middle;
	font-family: Arial;
	font-size: 12px;
	margin-top: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.textCenterAlign {
	text-align: center;
}

.popupTextStyle {
	font-family: Arial;
	font-size: 12px;
}

.mandatory {
	float: left;
	background: none;
}


/** Patient list table */

#patientInfo {
	table-layout: fixed;
}

#patientInfo th {
	padding: 5px;
}

.patientNameHeader {
	width: 45%;
	word-wrap: break-word;
}

.patientIdHeader {
	width: 35%;
	word-wrap: break-word;
}

.patientSelectHeader {
	width: 20%;
	word-wrap: break-word;
}

.patientNameColumn {
	word-wrap: break-word;
}

.patientIdColumn {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.patientSelectColumn {
	word-break: break-all;
}
/** just for Radio button wrap style */
.radioNoWrap {
	max-width: 20px;
	word-wrap: break-word;
	float: left;
	margin-top: 3px;
}
.textNoWrap {
	max-width: 334px;
	word-wrap: break-word;
	float: left;
}

/*style for help text*/
.helpText {
	font-family: Arial;
	font-style: italic;
	font-size: 12px;
	color: #184EA6;
	word-wrap: break-word;
	margin-top: 10px;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width: 72px;
    height:18px;
    font-size:11px;
    padding:0px;
    border:1px solid #000;
}
/** For deal with the overlap of the title of the Popup */
.selectPatientPopupTitle{
	display: block;
	width: 480px;
	word-wrap: break-word;
}
.patientSearchDivLable{
	display:block;
	word-wrap: break-word;
}
.patientSearchDivRight{
	padding-left: 10px;
}